<nav class="nav-horizontal">
    <a class="navbar-brand" href="">InFlow</a>
    
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
    </NavLink>

    <NavLink class="nav-link" href="titlepage">
        <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Title Page 
    </NavLink>

    <NavLink class="nav-link" href="weather">
        <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
    </NavLink>
</nav>
